body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #efefef;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 30%;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: -6px -6px 14px rgba(0, 0, 0, .15),
    -6px -6px 10px rgba(255, 255, 255, .5),
    6px 6px 8px rgba(255, 255, 255, .075),
    6px 6px 10px rgba(0, 0, 0, .15);
}

.btn_close {
    position:absolute;
    top:0;
    right:0;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 3px;
    margin: 25px;
    border: none;
    height: 30px;
    cursor: pointer;
}

.fa-xmark {
    font-size: 20px;
}

.modal_text {
    margin-top: 90px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 14px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.container {
    margin: 0 auto; 
}

.container_input {
    display: flex;
    justify-content: center;
}

.input {
    margin: 20px;
    width: 170px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.container_btn {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 3px;
    margin: 5px;
    border: 1px solid #ccc;
    height: 30px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
}

.btn:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.conteiner_click_me {
    display: flex;
    justify-content: center;
}

.click_me {
    width: 250px;
    height: 250px;
    margin: 50px;
    background: #efefef;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
}

.click_me:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
}

.click_me:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
}